* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
      font-size: 22px;
      font-weight: 700;
      color: #0071e3;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-left: 100px;
      margin-bottom:35px
      ;
    }

.login-container {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #374151;
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 16px;
  transition: border-color 0.2s;
}

input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.login-btn {
  width: 100%;
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #1e40af;
}

.secure {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  font-size: 14px;
  gap: 6px;
}

.secure img {
  width: 18px;
  height: 18px;
}

footer {
  margin-top: 25px;
  font-size: 12px;
  color: #9ca3af;
}

.backend-message {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 500px) {
  .login-container {
    padding: 30px 20px;
  }

  .login-box h2 {
    font-size: 20px;
  }

  .login-btn {
    font-size: 14px;
  }
}
